.postbox-space-medium .inside,
.space-medium {
   padding: 1.875em;
}

.postbox-space-large .inside,
.space-large {
   padding: 2.5em;
}

.form-row {
   margin-bottom: 1.5em;
}

.form-row-underlined {
   padding-bottom: 1.5em;
   border-bottom: 1px dotted #e5e5e5;
}

.form-row-label {
   margin-bottom: 0.5em;
   display: block;
   font-size: 1.125em;
   font-weight: bold;
}

.postbox-checklist {
   margin-top: 0.75em;
   padding: 0.625em;
   border: solid 1px #ddd;
   background-color: #fdfdfd;
}

.textarea-large {
   width: 100%;
   padding: 1.25em;
   box-sizing: border-box;
}

.postbox-checklist ul {
   margin: 0;
}

.postbox-checklist ul li {
   padding: 0.625em;
   margin: 0;
}

.postbox-checklist ul li:nth-child(odd) {
   background-color: #eee;
}

.postbox-checklist ul li label {
   line-height: 0.5em;
}

.tab-support {
   tab-size: 4;
}

.item-summary {
   padding-top: 1.25em;
}

.item-summary-row {
   margin-bottom: 0.625em;
}

.item-summary-col-title {
   font-weight: 600;
}

/* Admin dashboard widgets */

.widget-summary-dropdown {
   margin: 0 auto;
   display: table;
}

.widget-summary-row {
   margin-bottom: 0.625em;
   margin-left: -0.3125em;
   margin-right: -0.3125em;
}

.widget-summary-stats {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.widget-summary-stat {
   width: 50%;
   margin: 0 0.3125em;
   padding: 1.25em;
   display: flex;
   flex-direction: column;
   border: 1px solid #e1e1e1;
   text-align: center;
}

.widget-summary-stat .description {
   font-style: normal;
}

.widget-summary-stat .value {
   font-weight: bold;
   font-size: 1.25em;
   line-height: 1.5em;
}

.widget-summary-table th:last-child,
.widget-summary-table td:last-child {
   text-align: right;
}
